.common__section {
  background: linear-gradient(#0000008a, #0000008a),
    url('../../assets/images/phone-wallpaper.jpg') no-repeat center center;
  background-size: cover;
  padding: 100px 0px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common__section h1 {
  color: #fff;
  font-weight: 600;
}
